$background: #4cb4fe;
$white: #ffffff;
$gray: #808080;
$green: #3FFF00;
$black: #000000;
$shadeofgray: #626d70;
$ekisde: #D4AF37;

html {
	height: 100%;
	width: 100%;
	background-color: $background;
}

body {
	@extend html;
	padding-bottom: 130px;
}


.main {
	background-color: $shadeofgray;
}

#home {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	img {
		padding: 7% 0 2% 0;
		border-radius: 100%;
	}
	.btn {
		margin: 20px 0 30px 0;
	}
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	h1 {
		font-size: 400%;
		font-weight: 700;
	}
}

#about {
	padding: 2% 10% 10% 10%;
}

.abouth {
	text-align: center;
	font-size: 500%;
	font-weight: 500;
	padding-bottom: 5%;
	color: $white;
	border: solid;
	padding: 20px;
	margin-bottom: 50px;
}

#about ul li {
	font-size: 150%;
}

.container {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 70	vh; 
	text-align: center;
  }
  
  .video-container {
	display: grid;
	justify-items: center;
  }
  
#about table {
	border: 4px solid $black;
	font-size: 150%;
	font-weight: bold;
	background-color: $yellow;
	width: 70%;
	margin: 0 auto;
	td,
	th {
		border: 3px solid $black;
		text-align: left;
		width: 80%;
		height: 5%;
		padding: 1% 0 1% 1%;
		
	}
}

footer {
	width: 100%;
	background-color: $black;
	padding: 1% 5% 1% 5%;
	color: $white;
}

.navbar-brand {
	color: $ekisde !important;	
	font-weight: bold;
  }

.fa {
	padding: 15px;
	font-size: 25px;
	color: $white;
}

.fa:hover {
	color: $yellow;
	text-decoration: none;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	#home {
		img {
			padding-top: 15%;
		}
	}
}
